.FooterIMG {
  max-width: 16rem;
  /* padding: 2rem; */
  margin-top: 2rem;
}
.FooterfuturesBox {
  background: linear-gradient(180deg, #e8e8e8, transparent);
  border-radius: 2rem;
  /* padding: 2rem; */
  margin-top: 2rem;
  display: flex;
  font-size: x-small;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}
.Footerfuture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.FooterStart {
  padding: 4rem;
}
.FooterMidle {
  padding: 4rem;
}
.Footer div {
  line-height: 29px;
  font-size: 12px;
  font-weight: 100;
  color: gray;
}
.Footer strong {
  font-size: 12px;
  font-weight: 600;
  color: black;
}
.Footer ul {
  list-style: circle;
  margin-right: 2rem;
}
.FooterMail {
  justify-items: end;
}
.ChoosenProductsEnglishTitle {
  font-size: smaller;
  margin: 0;
}
.eNamadIMG img {
  width: 13rem;
  /* height: 20rem; */
  border-radius: 2rem;
}
.FooterEndContainer {
  height: 100%;
  /* margin-top: -5rem; */
  background-color: #d6defe;
  /* padding: 2rem; */
  padding-top: 3px;
  border-radius: 2rem;
}
.MainFooterEndContainer {
  background-color: var(--primary-color);
  height: 100%;
  border-radius: 2rem;
  padding: 3rem;
  color: white;
  font-size: 2rem;
}
.FooterContainer{

  display: flex;
}
.FooterEnd{
      /* margin-top: -1rem !important; */
}
@media only screen and (max-width: 767px) {
  /* CSS styles for mobile devices */
}
/* tablet  */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbarMenu > ul > li > a {
    padding: 0 5px;
  }
}
/* laptop  */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* CSS styles for laptops */
}
/* desktop */
@media only screen and (min-width: 1200px) {
  /* CSS styles for desktops */
}
