.marketComponentFilterPart {
/* width: 40rem; */
  min-width: 40rem;
}
.dropdown-menu{
  min-width: 100%;
}
.dropdown-item{
  transition: all 0.3s;
}
.dropdown-item:hover{
     padding: 6px 10px;
  background-color: white;
}
/* .MarketProductCard{

