.inputshadow:focus {
  box-shadow: inset 0px -4px 2px -2px #fff, inset 0px 4px 3px -3px #000;
  background-color: #0000000d !important;
}
.inputshadow {
  box-shadow: 0px -1px 2px 0px white, 0px 1px 2px 0px black;
  border: none;
  background-color: #ffffff33 !important;
  transition: all 0.2s;
}

.btn3d {
  border: 2px solid transparent;
  box-shadow: 0px -10px 10px 0px #ffffff, inset 0px -27px 10px #ffffffba;
}
.AdminSidebar .active{
  background-color: #5202f6;
  color: #f5f3f9 !important;
}
.AdminSidebar a:hover{
  background-color: #d8d8ef;
  color: #5202f6 !important;
}